API_BASE_URL=http://127.0.0.1:8080
ENABLE_BACKEND_API=true
MAPBOX_ACCESS_TOKEN=replace_me
FIREBASE_API_KEY=replace_me
FIREBASE_APP_ID=replace_me
FIREBASE_MESSAGING_SENDER_ID=replace_me
FIREBASE_PROJECT_ID=replace_me
FIREBASE_DATABASE_URL=https://replace-me-default-rtdb.firebaseio.com
FIREBASE_STORAGE_BUCKET=replace-me.firebasestorage.app
FIREBASE_AUTH_DOMAIN=replace-me.firebaseapp.com
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=car_rental
